<html>
<head>
<meta name=viewport" content="width=device-width, initial-scale=1">
<script src="https://kit.fontawesome.com/a076d05399.js"></script>
<link rel=stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<style>
p.small{
line-height:0.7;
font-variant:small-caps;
}
div{
border:1px solid blue;
margin:25px 50px 75px;
background-color:violet;
}
p.ex1{
margin-left:inherit;
}
div.ex2{
width:300px;
padding:25px;
background-color:yellow;
}
div.ex3{
max-width:700px;
height:100px;
background-color:green;
}
div.ex4{
background-color:lightgrey;
width:300px;
border:15px solid pink;
padding:50px;
margin:20px;
}
div.ext5{
width:320px;
padding:10px;
border:5px solid gray;
margin:0;
}
p.doshed{outline:thick ridge pink;}
p.uppercase{
text-transform:uppercase;
}
h1{
letter-spacing:-3px;
}
</style>
</head>
<body>
<h2>welcome to page</h2>
<h2>css</h2>
<div><p class="ex1">Cascading Style Sheets is a style sheet language used for describing the presentation of a document written in a markup language like HTML. CSS is a cornerstone technology of the World Wide Web, alongside HTML and JavaScript</p></div>
<hr>
<div class="ex2">CSS has a simple syntax and uses a number of English keywords to specify the names of various style properties. A style sheet consists of a list of rules. Each rule or rule-set consists of one or more selectors, and a declaration block.</div>
<hr>
<div class="ex3">CSS was first proposed by Håkon Wium Lie on October 10, 1994. At the time, Lie was working with Tim Berners-Lee at CERN. Several other style sheet languages for the web were proposed around the same time, and discussions on public mailing lists and inside World Wide Web Consortium resulted in the first W3C CSS Recommendation (CSS1) being released in 1996. In particular, a proposal by Bert Bos was influential; he became co-author of CSS1, and is regarded as co-creator of CSS. Style sheets ...</div>
<hr>
<div class="ex4">Each web browser uses a layout engine to render web pages, and support for CSS functionality is not consistent between them. Because browsers do not parse CSS perfectly, multiple coding techniques have been developed to target specific browsers with workarounds. Adoption of new functionality in CSS can be hindered by lack of support in major browsers. For example, Internet Explorer was slow to add support for many CSS 3 features, which slowed adoption of those features and damaged the browser's</div>
<hr>
<img src="klematis4_big.jpg" width="350" height="263" alt="klematis">
<div class="ex5">shokoofe shafieei</div>
<hr>
<p class="doshed">Some noted limitations of the current capabilities of CSS include: 1. Selectors are unable to ascend CSS currently offers no way to select a parent or ancestor of an element that satisfies certain criteria. CSS Selectors Level 4, which is still in Working Draft status, proposes such a selector, but only as part of the "complete" selector profile, not the "fast" profile used in dynamic CSS styling. A more advanced selector scheme would enable more sophisticated style sheets. The major reasons for</p>
<hr>
<p class="uppercase">Cascading Style Sheets (CSS) is a style sheet language used for describing the presentation of a document written in a markup language like HTML.[1] CSS is a cornerstone technology of the World Wide Web, alongside HTML and JavaScript.</p>
<h1>shokoufe shafiei</h1>
<hr>
<p class="small">Separation of formatting and content also makes it feasible to present the same markup page in different styles for different rendering methods, such as on-screen, in print, by voice (via speech-based browser or screen reader), and on Braille-based tactile devices. CSS also has rules for alternate formatting if the content is accessed on a mobile device.[4] 
The name cascading comes from the specified priority scheme to determine which style rule applies if more than one rule matches a particular element. This cascading priority scheme is predictable. </p>
<hr>
<i class="fas fa-heart"></i>
<i class="fas fa-cloud" style="font-size:24px;color:violet"></i>
<i class="fas fa-cloud" style="font-size:36px;color:yellow"></i>
<i class="fas fa-cloud" style="font-size:48px;color:red;"></i>
<i class="fas fa-cloud" style="font-size:60px;color:lightblue;"></i>
<i class="material-icons">computer</i>
</body>
<html>